.AllCaughtCard {
    height: 55%;
    width: 20%;
    
    border-radius: 0.8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.infoPokeCardName, .infoPokeCardType{
    margin-top: 0.2rem;
}

.infoPokeCardName{
    font-size: small;
}

.infoPokeCardType{
    font-size: x-small;
}

.imageAllCaught{
    height: 5.5rem;
    margin-top: -0.8rem;
}
