.backScreenLogin {

    position: absolute;

    left: 50%;
    margin-left: -11rem;
    top: 50%;
    margin-top: -11rem;

    z-index:4;

    width: 22rem;
    height: 26rem;      

    background-color: white;
    opacity: 1;

    border-radius: 1.2rem;
    font-family: "Segoe UI", sans-serif;
}

.formLogin {
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 100%;
    height: 100%;
}

.typeCount {
    text-align: center;
    font-size: 28px;
    margin-bottom: 2rem;
    font-weight: 400;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.input-parent input {
    padding: 10px 8px;
    width: 80%;
    font-size: 16px;
    border: outset;
    border-radius: 4px;
    outline: none;
}
 
.btn_loginRegister {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 85%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;

    margin-top: 1rem;
    cursor: pointer;
}
.btn_loginRegister:hover {
    opacity: 0.9;
}
.btn_loginRegister:focus {
    box-shadow: 0px 0px 0px 3px black;
}

#pikachu {
    position: absolute;
    right: 0.8rem;
    bottom: 1rem;
}

.img_pikachu {
    width: 7rem;
}

.containerNewAccount{
    margin-top: 1rem;
}

.newAccount {
    margin-top: 0.5rem;

    text-decoration: inherit;
    color: inherit;
    cursor: pointer;

    font-size: medium;
    color: #1a3969;
}

/* .logo{
    margin-top: 2rem;
    width: 12rem;
} */