
.backScreenBattle {
    
    position: absolute;

    left: 50%;
    margin-left: -12rem;
    top: 50%;
    margin-top: -11rem;

    left: 50%;
    margin-left: -25rem;
    top: 50%;
    margin-top: -12rem;

    z-index:4;

    width: 50rem;
    height: 28rem;   

}

.containerBattle {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.arena{

    height: 90%;
    width: 70%;

    background-image: url('./arena2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 65% 88%;
    opacity: 1;

    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
    
}

.enemyDiv , .pokemonDiv{
    width: 100%;
    height: 50%;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.enemySprite{
    width: 11rem;

    margin-top: 4rem;
    margin-left: 3rem;
}

.enemyContent , .myPokemonContent{
    width:30%;
    height: 75%;

    background-color: white;
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0.2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    margin-top: 3rem;
}

.myPokemonContent{
    height: 50%;
}

.infoEnemy, .infoMyPokemon, .infoMyPokemonTitle, .infoEnemyTitle{
    font-size: x-small;
    height: 17%;

    display: flex;
    align-items: center;
}

.infoMyPokemon{
    height: 22%;
}

.infoEnemyTitle, .infoMyPokemonTitle{
    font-size: small;
}

.myPokemonSprite{
    margin-right: 6rem;
    margin-top: 3rem;
    width: 15rem;
}


.movesPlayer{
    background-color: white;
    height: 90%;
    width: 32%;

    border-radius: 0.8rem;
}

.headerBattle{
    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 100%;
    height: 10%;
}

.contentHeaderBattle{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;

    background-color: #1a3969;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.battleTitle{
    font-size: medium;
    color: white;

    width: 100%;
}

.movesOptions{
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actionsCards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;

    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.selectMove{
    width: 5%;
    margin-right: 1rem;
}

.moveInfo{
    width: 70%;
    height: 85%;

    background-color: white;
    border-radius: 0.2rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: aqua; */
}

.moveName{
    font-size: medium;
    height: 18%;
    width: 100%;;
    margin-bottom: 0rem;
    color: #1a3969;
}

.descriptionMove{
    font-size: Xx-small;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70%;
    width: 100%;

}

.informationMove{
    height: 5%;
    margin-bottom: 0rem;

}

.attackButton{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attack{
    width: 80%;
    height: 90%;

    cursor: pointer;

    border: none;
	padding: 0;
	outline: inherit;

    background-color: rgb(0, 167, 50);

    color: #f4f4f4;
    font-size: medium;

    border-radius: 0.2rem;    
}

.attack:hover {
    opacity: 0.9;
}


.close {
    font-size: 45px;
    font-weight: 600;
    /* height: 10rem; */
    position: absolute;
    z-index: 2;
    top: -0.3rem;
    right: 10.5rem;
    background-color: #1a3969;
    height: 1.7rem;
    width: 1.7rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    border-radius: 100%;
    color: rgb(255, 205, 0);
    border: none;
    font-size: x-large;
}



.imgGif{
    height: 95%;
    width: 95%;
    position: relative;
}


.Gif {
    height: 100%;
    width: 60%;
    background-color: white;
    opacity: 1;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10.6rem;
}